.animate_ping {
  animation-name: Ping;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
  
}

@keyframes Ping {
  0% {
    scale: 1
  }

  100% {
    scale: 1.5
  }
}